<h2 class="center-align">Thank You</h2>

<p>Thank You for your Application</p>
<p>It is currently pending, but we will let you know as soon as you are approved!!</p>
<div class=" section waves-effect waves-light btn btn-large home-btn top-margin amber darken-1 white-text">
  <%= button_to "Search All Rentals", rental_types_path, method: :get %>
</div>
