<h2 class="center-align"><%= @owner.name %>'s Rentals:</h2>

<div class="row">

<% @owner.rentals.each do |rental| %>
  <%= render partial: 'rentals/rental', locals: {rental: rental} %>
<% end %>
</div>
