- if @rentals.empty?
  .black-text.center-align.no-items
    %h3.black-text No items in cart.
    = link_to "View Rentals", rental_types_path

- if !@rentals.empty?
  %h2.center-align.black-text Checkout
  = render partial: "edit_rental", locals: { :rentals => @rentals }

  .card-panel.grey.lighten-5.right-align
    .col.s6.offset-s6
      = "Total: $NUMBER OF NIGHTS * PRICE"
      .waves-effect.waves-light.btn.white-text
        = button_to "Checkout", checkout_path, method: :post
