
<h2>Admin Dashboard</h2>

<%= link_to "Manage Owners", admin_owners_path, class: "btn" %>


<h4>Pending Owner Requests</h4>
<div class = "pending-owners">
<table>
  <td>
    <% @owners.each do |owner| %>
    <tr><%= owner.username %></tr>
    <tr><%= link_to "Approve",  admin_owners_path(owner, :owner_status => 'active'), method: :post %></tr>
    <tr><%= link_to "Deny",  admin_owners_path(owner, :owner_status => nil), method: :post %></tr>
    <% end %>
  </td>
</table>
