<footer class="page-footer teal lighten-1 white-text">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>Company Bio</h5>
        <p>We are a team of Turing students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
      </div>

      <div class="col l3 s12">
        <h5>About</h5>
        <ul>
          <li><a class="white-text" href="http://www.turing.io" target="_blank">Contact</a></li>
        </ul>
      </div>

      <div class="col l3 s12">
        <h5>Rentals</h5>
        <ul>
          <li> <%= link_to "All Rentals", rental_types_path, class: "white-text" %> </li>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container white-text">
      Made by <a class="blue-text" href="https://github.com/ShannonPaige" target="_blank">Shannon Paige</a> & <a class="blue-text" href="https://github.com/nicolehall" target="_blank">Cole Hall</a> & <a class="blue-text" href="https://github.com/matt-stj" target="_blank">Matt Stjernholm</a> & <a class="blue-text" href="https://github.com/Kealii" target="_blank">Michael Wong</a>
    </div>
  </div>
</footer>
