<!-- spdone -->
<div class="home-page">
  <section class="row header-bg"></section>
  <div class="row center-align">
    <div class="col s12">
      <div class = "buttons">
        <div class="waves-effect waves-light btn white-text">
          <%= button_to "Search All Rentals", rental_types_path, method: :get %>
        </div>
        <% if !current_user %>
          <div class="waves-effect waves-light btn white-text">
            <%= button_to "Search By Owner", owners_path, method: :get %>
          </div>
        <% end %>
      </div>
  </div>
</div>
