%h1.white-text.center-align Rentals

- @rental_types.each do |rental_type|
  %h2.center-align= link_to("#{rental_type.name}", "/rental_types/#{rental_type.slug}")
  .row
    = render rental_type.rentals
