<h2 class="center-align">Owner Order History</h2>
<div class="white">
  <table class="cart-table highlight">
    <tr>
      <th>Order Number</th>
      <th>Total Price</th>
      <th>Date Ordered</th>
      <th>Order Details</th>
    </tr>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id  %></td>
        <td><%= format_currency(order.total || 0) %></td>
        <td><%= order_date(order.created_at) %></td>
        <td><%= link_to("View", owners_order_path(order)) %></td>
      </tr>
    <% end %>
  </table>
</div>
