<!-- spdone -->
<h1 class="center-align">Your Rentals</h1>
  <div class="row">
    <% @rentals.each do |rental| %>
      <%= render partial: 'rentals/rental', locals: {rental: rental}  %>
    <% end %>
  </div>
