%h1.white-text.center-align Rentals
- @rental_types.each do |rental_type|
  %h2.center-align= link_to("#{rental_type.name}", "/#{format_url_name(rental_type.name)}")
  .row
    = render rental_type.rentals
