/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//
// @font-face {
//   font-family: "Roboto";
//   src: url("assets/fonts/roboto/Roboto-Light.ttf");
// }
//
// @font-face {
//   font-family: "Roboto-bold";
//   src: url("assets/fonts/Roboto-Bold.ttf");
// }
//
// * {
//   font-family: Roboto;
// }

@import "materialize";

nav {
  color: black;
}

h3 {
  font-size: 200%;
}


.brand-logo {
  margin-left: 25px;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: -25px;
}



​
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.header-bg{
  background: image-url('http://iwillmakeyousmile.gq/kar/12325.jpg') no-repeat;
}

#nav-mobile {
  margin-right: 20px;
}
​
#background-card-margin {
  margin-bottom: 15px
}
​
#app-detail-padding {
  padding-bottom: 15px
}

.card-panel h3 {
  font-size: 110%;
}

.page-footer {
  font-size: 80%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  margin-bottom: -25px !important;
  color: white
}

.footer-copyright a {
  color: white !important;
}

.outline {
  border: black 2px solid;
}

.card-panel {
  display: inline-block;
  width: 45%;
}

.owner-link-text {
  font-size: 2.5rem;
}

.card.medium {
    height: 251px;
}

.inline {
  display: inline-block;
}

.scrim {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white !important;
    background: transparent\9;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    box-shadow: 0px 5rem 4rem rgba(0, 0, 0, 0.1), 0px -5rem 4rem rgba(0, 0, 0, 0.1);
}

.btn a {
  color: white !important;
}

.inactive {
  background-color: #ef5350;
  color: white;
}

.active {
  background-color: #66bb6a;
  color: white;
}
