/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//


@import "materialize";
@import "pickadate/default";
@import "pickadate/default.date";



* {
  font-family: 'Noto Sans', sans-serif;
  }

nav {
  color: black;
}

h3 {
  font-size: 200%;
}

.brand-logo {
  margin-left: 25px;
  margin-top: 7px;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-bottom: -25px;
}



​
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.header-bg {

  background: image-url('http://iwillmakeyousmile.gq/kar/12325.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#nav-mobile {
  margin-right: 20px;
}
​
#background-card-margin {
  margin-bottom: 15px
}
​
#app-detail-padding {
  padding-bottom: 15px
}

// .card-panel h3 {
//   font-size: 110%;
// }

.page-footer {
  font-size: 80%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.footer-copyright {
  margin-bottom: -25px !important;
  color: white
}

.footer-copyright a {
  color: white !important;
}

.outline {
  border: black 2px solid;
}

// .card-panel {
//   display: inline-block;
//   width: 45%;
// }

.owner-link-text {
  font-size: 2.5rem;
}
.inline {
  display: inline-block;
}

.scrim {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white !important;
    background: transparent\9;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
    box-shadow: 0px 5rem 4rem rgba(0, 0, 0, 0.1), 0px -5rem 4rem rgba(0, 0, 0, 0.1);
}

.btn a {
  color: white !important;
}

#date-picker-button {
  width: 200px;
}
.user_status_inactive {
  background-color: #ef5350;
  color: white;
}

.user_status_active {
  background-color: #66bb6a;
  color: white;
}

.input-field label.active {
    background-color: transparent;
}

.hidden {
  display: none;
}

body .home {
  /*background-image: url("http://s169923.gridserver.com/images/massivedoor.jpg");*/
  background-image: url("secret_treehouse.jpg");
  height: 600px;
  background-size: cover;
}
/*// .scrim {
//   height: 300px;
// }*/

// .btn, .btn-large {
//     background-color: #757575;
// }
//
.shrink {
  height: 200px;
  width: 200px;
}

// factored this out of a view, we may not need it - sp
nav ul li a {
  color: black;
}
