<div class="rentals-container">
  <div class="rentals-bg">
    <div class="row">
      <div class="row center-align">
      <div class="col s12">
        <h1 class="white-text text-outline push-down">A home for your next adventure.</h1>
      </div>
    </div>
  </div>
</div>
</div>

<!-- <%#= render 'shared/featured_rentals' %> -->

<div class="container center-align">

  <h2 class="section">Select A Rental Type</h2>

  <div class="input-field col s12 section">
    <select class = "browser-default">
      <option value="" disabled selected>Where do you want to stay??</option>
      <% @rental_types.each do |rental_type| %>
        <option value= "<%= rental_type.name %>"><%= rental_type.name %></option>
      <% end %>
    </select>
  </div>

  <div class="row displayed-rentals hidden section">
  <% @rental_types.each do |rental_type| %>
    <div class="<%= rental_type.name.downcase %> rentals">
      <% @rental_types.find_by(name: rental_type.name ).rentals.active.each do |rental| %>
        <%= render partial: 'rentals/rental', locals: {rental: rental}  %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
</div>
