%h1.black-text.center-align Rental Types

.white
  %table.cart-table.highlight
    %tr
      %th Locations

    - @rental_types.each do |rental_type|
      %tr
        = content_tag :td, link_to(rental_type.name, rental_type_path(slug: rental_type.slug))
