<h1 class="black-text">Rentals</h1>


  <div class="input-field col s12">
    <select class = "browser-default">
      <option value="" disabled selected>Where do you want to stay??</option>
      <% @rental_types.each do |rental_type| %>
        <option value= "<%= rental_type.name %>"><%= rental_type.name %></option>
      <% end %>
    </select>
  </div>

<div class="row displayed-rentals hidden">
  <% @rental_types.each do |rental_type| %>
    <div class="<%= rental_type.name.downcase %> rentals">
      <% @rental_types.find_by(name: rental_type.name ).rentals.active.each do |rental| %>
        <%= render partial: 'rentals/rental', locals: {rental: rental}  %>
      <% end %>
    </div>
  <% end %>
</div>
